body{
    background-color: aquamarine;
}

.heading{
    text-align: center;
}

#center-box{
    background-color: #ebfff8;
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
  }

.IPAddress{
    display: inline;
    float: left;
}

#btn_new{
    display: inline-block;
}

.recieve {
    text-align: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    left:80px; 
    top:20px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.send {
    /* text-align: right; */
    border: 2px solid #dedede;
    background-color: #ddd;
    left:80px; 
    top:20px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}